## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import weather_api_key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_database/Weather_Data2/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Teahupoo,PF,-17.8333,-149.2667,75.16,76,35,20.15,light rain
1,1,Sabla,NG,12.7525,4.7077,91.33,25,75,9.24,broken clouds
2,2,Hilo,US,19.7297,-155.0900,85.28,83,100,3.44,light rain
3,3,Puerto Ayora,EC,-0.7393,-90.3518,84.16,81,74,9.24,broken clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,56.86,58,75,5.75,broken clouds

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 95

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Teahupoo,PF,-17.8333,-149.2667,75.16,76,35,20.15,light rain
1,1,Sabla,NG,12.7525,4.7077,91.33,25,75,9.24,broken clouds
2,2,Hilo,US,19.7297,-155.0900,85.28,83,100,3.44,light rain
3,3,Puerto Ayora,EC,-0.7393,-90.3518,84.16,81,74,9.24,broken clouds
5,5,Bengkulu,ID,-3.8004,102.2655,75.45,87,61,3.80,broken clouds
6,6,Kamphaeng Phet,TH,16.2500,99.5000,79.12,61,12,1.01,few clouds
7,7,Kavaratti,IN,10.5669,72.6420,80.35,82,100,20.60,overcast clouds
10,10,Benguela,AO,-12.5763,13.4055,77.29,85,27,3.31,scattered clouds
13,13,Bambanglipuro,ID,-7.9500,110.2833,75.38,87,53,3.85,broken clouds
17,17,Vaini,TO,-21.2000,-175.2000,82.56,89,20,6.91,few clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                242
City                   242
Country                242
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df.count()

City_ID                242
City                   242
Country                242
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Teahupoo,PF,75.16,light rain,-17.8333,-149.2667,
1,Sabla,NG,91.33,broken clouds,12.7525,4.7077,
2,Hilo,US,85.28,light rain,19.7297,-155.0900,
3,Puerto Ayora,EC,84.16,broken clouds,-0.7393,-90.3518,
5,Bengkulu,ID,75.45,broken clouds,-3.8004,102.2655,
6,Kamphaeng Phet,TH,79.12,few clouds,16.2500,99.5000,
7,Kavaratti,IN,80.35,overcast clouds,10.5669,72.6420,
10,Benguela,AO,77.29,scattered clouds,-12.5763,13.4055,
13,Bambanglipuro,ID,75.38,broken clouds,-7.9500,110.2833,
17,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Teahupoo,PF,75.16,light rain,-17.8333,-149.2667,Vanira Lodge
1,Sabla,NG,91.33,broken clouds,12.7525,4.7077,
2,Hilo,US,85.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Puerto Ayora,EC,84.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Bengkulu,ID,75.45,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
v_locations = hotel_df[['Lat','Lng']]
v_maxTemp = hotel_df['Max Temp']
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows() ]

fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(v_locations, weights= v_maxTemp, max_intensity = 300,\
                                 point_radius = 4, dissipating=False)
marker_layer = gmaps.marker_layer(v_locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))